apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: config-service
  template:
    metadata:
      labels:
        app: config-service
    spec:
      containers:
      - name: config-service
        image: tingeso-config-service:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8888
        volumeMounts:
        - name: config-volume
          mountPath: /config-data
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: native
        - name: SPRING_CLOUD_CONFIG_SERVER_NATIVE_SEARCH_LOCATIONS
          value: file:///config-data
      volumes:
      - name: config-volume
        hostPath:
          path: /data/config-data # Minikube mount
          type: Directory
---
apiVersion: v1
kind: Service
metadata:
  name: config-service
spec:
  selector:
    app: config-service
  ports:
  - port: 8888
    targetPort: 8888
