apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-service
spec:
  selector:
    matchLabels:
      app: config-service
  template:
    metadata:
      labels:
        app: config-service
    spec:
      containers:
      - name: config-service
        image: demishuaccha/config-service:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8888
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: native
        - name: SPRING_CLOUD_CONFIG_SERVER_NATIVE_SEARCH_LOCATIONS
          value: file:///config-data
        volumeMounts:
        - name: config-volume
          mountPath: /config-data
      volumes:
      - name: config-volume
        configMap:
          name: config-repo 