apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-service
spec:
  selector:
    matchLabels:
      app: gateway-service
  template:
    metadata:
      labels:
        app: gateway-service
    spec:
      initContainers:
      - name: wait-for-eureka
        image: busybox
        command: ['sh', '-c', 'until nc -z -v -w30 eureka-service 8761; do echo "Waiting for Eureka..."; sleep 5; done;']
      containers:
      - name: gateway-service
        image: demishuaccha/gateway-service:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        - name: SERVER_PORT
          value: "8080"
        - name: SPRING_CONFIG_IMPORT
          value: "optional:configserver:http://config-service.default.svc.cluster.local:8888"
        - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
          value: "http://eureka-service:8761/eureka/"

        # SONDAS EN EL CONTENEDOR (Correcto)
        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 60  
          periodSeconds: 20        
          failureThreshold: 5     
        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 120 
          periodSeconds: 30        
          failureThreshold: 6
---
apiVersion: v1
kind: Service
metadata:
  name: gateway-service
spec:
  type: NodePort # Mantenemos NodePort para acceso externo
  selector:
    app: gateway-service
  ports:
  - port: 8080
    targetPort: 8080
    nodePort: 30080