apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql-db
spec:
  selector:
    matchLabels:
      app: mysql-db
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: mysql-db
    spec:
      containers:
        - image: mysql:8.0.44
          name: mysql-db
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secrets
                  key: password
            # Inyección de variables para el script init.sh
            - name: user_auth
              valueFrom: { secretKeyRef: { name: mysql-secrets, key: user_auth } }
            - name: pass_auth
              valueFrom: { secretKeyRef: { name: mysql-secrets, key: pass_auth } }
            - name: user_client
              valueFrom: { secretKeyRef: { name: mysql-secrets, key: user_client } }
            - name: pass_client
              valueFrom: { secretKeyRef: { name: mysql-secrets, key: pass_client } }
            - name: user_fee
              valueFrom: { secretKeyRef: { name: mysql-secrets, key: user_fee } }
            - name: pass_fee
              valueFrom: { secretKeyRef: { name: mysql-secrets, key: pass_fee } }
            - name: user_loan
              valueFrom: { secretKeyRef: { name: mysql-secrets, key: user_loan } }
            - name: pass_loan
              valueFrom: { secretKeyRef: { name: mysql-secrets, key: pass_loan } }
          ports:
            - containerPort: 3306
              name: mysql
          volumeMounts:
            - name: mysql-init-script
              mountPath: /docker-entrypoint-initdb.d
            - name: mysql-persistent-storage
              mountPath: /var/lib/mysql
      volumes:
        - name: mysql-init-script
          configMap:
            name: mysql-init-script
            defaultMode: 0755 # Permisos de ejecución
        - name: mysql-persistent-storage
          persistentVolumeClaim:
            claimName: mysql-pv-claim