apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-init-script
data:
  init.sh: |
    #!/bin/bash
    set -e
    echo "Iniciando configuración de bases de datos y usuarios..."

    mysql -u root -p"$MYSQL_ROOT_PASSWORD" <<-EOSQL
        -- 1. Auth Service
        CREATE DATABASE IF NOT EXISTS auth_db;
        CREATE USER IF NOT EXISTS '$user_auth'@'%' IDENTIFIED BY '$pass_auth';
        GRANT ALL PRIVILEGES ON auth_db.* TO '$user_auth'@'%';

        -- 2. Client Service
        CREATE DATABASE IF NOT EXISTS client_db;
        CREATE USER IF NOT EXISTS '$user_client'@'%' IDENTIFIED BY '$pass_client';
        GRANT ALL PRIVILEGES ON client_db.* TO '$user_client'@'%';

        -- 3. Fee Service
        CREATE DATABASE IF NOT EXISTS fee_db;
        CREATE USER IF NOT EXISTS '$user_fee'@'%' IDENTIFIED BY '$pass_fee';
        GRANT ALL PRIVILEGES ON fee_db.* TO '$user_fee'@'%';

        -- 4. Inventory Service
        CREATE DATABASE IF NOT EXISTS inventory_db;
        CREATE USER IF NOT EXISTS '$user_inventory'@'%' IDENTIFIED BY '$pass_inventory';
        GRANT ALL PRIVILEGES ON inventory_db.* TO '$user_inventory'@'%';

        -- 5. Loan Service
        CREATE DATABASE IF NOT EXISTS loan_db;
        CREATE USER IF NOT EXISTS '$user_loan'@'%' IDENTIFIED BY '$pass_loan';
        GRANT ALL PRIVILEGES ON loan_db.* TO '$user_loan'@'%';

        -- 6. Kardex Service
        CREATE DATABASE IF NOT EXISTS kardex_db;
        CREATE USER IF NOT EXISTS '$user_kardex'@'%' IDENTIFIED BY '$pass_kardex';
        GRANT ALL PRIVILEGES ON kardex_db.* TO '$user_kardex'@'%';

        -- 7. Report Service
        CREATE DATABASE IF NOT EXISTS report_db;
        CREATE USER IF NOT EXISTS '$user_report'@'%' IDENTIFIED BY '$pass_report';
        GRANT ALL PRIVILEGES ON report_db.* TO '$user_report'@'%';

        FLUSH PRIVILEGES;
    EOSQL
    echo "¡Configuración de MySQL finalizada con éxito!"