apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-init-script
data:
  init.sh: |
    #!/bin/bash
    set -e
    echo "Configurando usuarios en tingeso_db..."

    mysql -u root -p"$MYSQL_ROOT_PASSWORD" <<-EOSQL
        CREATE DATABASE IF NOT EXISTS tingeso_db;

        -- Crear usuarios y asignar permisos a la DB central
        CREATE USER IF NOT EXISTS '$user_auth'@'%' IDENTIFIED BY '$pass_auth';
        GRANT ALL PRIVILEGES ON tingeso_db.* TO '$user_auth'@'%';

        CREATE USER IF NOT EXISTS '$user_client'@'%' IDENTIFIED BY '$pass_client';
        GRANT ALL PRIVILEGES ON tingeso_db.* TO '$user_client'@'%';

        CREATE USER IF NOT EXISTS '$user_fee'@'%' IDENTIFIED BY '$pass_fee';
        GRANT ALL PRIVILEGES ON tingeso_db.* TO '$user_fee'@'%';

        CREATE USER IF NOT EXISTS '$user_inventory'@'%' IDENTIFIED BY '$pass_inventory';
        GRANT ALL PRIVILEGES ON tingeso_db.* TO '$user_inventory'@'%';

        CREATE USER IF NOT EXISTS '$user_loan'@'%' IDENTIFIED BY '$pass_loan';
        GRANT ALL PRIVILEGES ON tingeso_db.* TO '$user_loan'@'%';

        FLUSH PRIVILEGES;
    EOSQL