server:
  port: 8081
spring:
  cloud:
    config:
      server:
        git:
          default-label: main
          uri: https://github.com/DemisHuaccha/tingesoMS_backend2025.git
          search-paths: tingesoMS_backend/config-data
  application:
    name: config-service
